.App {
  display: flex;
}



* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .5s linear;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}